<div class="application-wrapper">
	{{!-- NAVIGATION --}}
	{{navigation}}
	{{!-- DATA PUBLISHER --}}
	{{data-publisher publisher=publisher}}
	{{!-- PRODUCT --}}
	<div class="product">
		<div class="product-wrapper">
			<div class="product-detail">
				<p class="dataset-summary app-font">Datasets in this data product</p>
			{{!-- Data Table --}}
			{{#each products as |product|}}
				{{product-table product=product}}
			{{/each}}
			</div>
		</div>
		<div class="sidebar-wrapper">
			{{sidebar publisher=publisher}}
		</div>
	</div>
</div>