<header class="data-publisher">
    <div class="info">
        <div class="image">
            <img src="/assets/avatar.png" class="image">
        </div>
        <div class="large-header">{{publisher.title}}</div>
    </div>
</header>